.noselect {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.C_ico.ascode {background-image:url(http://www.cplusplus.com/ico/text_code.png);}
.snippet{tab-size:4;}
.quote{display:block;height:auto;}
.hiddenicon{background-position: -80px -96px;}
.shownicon{background-position: -64px -96px;}
.ofhide{overflow:hidden;}
.ofshow{overflow:visible;}
.codeSpan{vertical-align:top;font-size:8px;}
.codeButton{padding-left:12px;}